[submodule "Code/pico-sdk"]
	path = Code/libs/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "Code/Unity"]
	path = Code/libs/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
